<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Anuj/Desktop/mavne/firstmavenproject/src/test/java/datpeoviderdemo/ParamTest.java">
        <classes>
            <class name="datpeoviderdemo.ParamTest">
                <methods>
                    <include name="testLogo"/>
                    <include name="testTitle"/>
                    <include name="testUrl"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>